html,
body {
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.75); */
  font-weight: bold;
}

#container {
  display: flex;
  align-content: space-around;
  height: 50%;
}

a,
ul {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}

#fail-container {
  background-color: gray;
}

table {
  border: 1px solid black;
}

td {
  min-width: 50px;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
}

a:hover {
  color: #ffc800;
}

.circle {
  background-color: cornflowerblue;
}
.no1 {
  background-color: hotpink;
}
